<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="ReportingOdbcConnection" value="Driver={ODBC Driver 17 for SQL Server};Server=localhost\SQLEXPRESS;Database=EcomDemo;Trusted_Connection=Yes;TrustServerCertificate=Yes;" />
    <add key="LegacyReportingCredentialHint" value="DSN=LegacyEcomReporting;Uid=report_reader_placeholder;Pwd=replace-with-secure-secret;" />
    <add key="ReportExportRoot" value="..\storage\legacy-report-exports" />
    <add key="ReportArchiveRoot" value="\\legacy-fileserver\reports-archive" />
    <add key="ReportingMode" value="ClassicBatch" />
    <add key="LegacyOperatorGroup" value="ECOM_REPORT_OPERATORS" />
  </appSettings>
  <system.web>
    <authentication mode="Windows" />
    <authorization>
      <!-- Kept permissive for local demo browsers that cannot negotiate Windows credentials. -->
      <allow users="*" />
    </authorization>
    <compilation debug="true" targetFramework="4.7.2" />
    <httpRuntime targetFramework="4.7.2" requestValidationMode="2.0" />
    <sessionState mode="InProc" timeout="60" />
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" />
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <add name="ReportExportAsmx" path="Services/ReportExport.asmx" verb="*" type="System.Web.Services.Protocols.WebServiceHandlerFactory, System.Web.Services" resourceType="Unspecified" requireAccess="Script" />
    </handlers>
  </system.webServer>
</configuration>
